@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gulim";
    src: local("gulim"), url(./fonts/gulim.ttf) format("truetype");
  }

  @font-face {
    font-family: "comforter-brush";
    src: local("ComforterBrush-Regular"),
      url(./fonts/ComforterBrush-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "bradhitc";
    src: local("bradhitc"), url(./fonts/bradhitc.ttf) format("truetype");
  }
}
